<template>
    <div
        id="need-close"
        class="bg-black bg-opacity-50 top-0 right-0 bottom-0 left-0 flex justify-center items-center fixed"
        @click="hide($event)"
    >
        <div
            class="bg-white p-5 relative shadow-lg rounded-md mx-2"
            :class="width"
            id="modal"
        >
            <div class="flex justify-between">
                <div class="border-b font-bold mb-4 pb-2 px-5 w-full">
                    <slot name="header"> Default header </slot>
                </div>
                <div
                    id="need-close"
                    class="font-bold absolute right-0 top-0 p-3 cursor-pointer hover:bg-gray-400 rounded-tr-md"
                    @click="hide($event)"
                >
                    &#x2715;
                </div>
            </div>

            <div class="border-b pb-4">
                <slot name="body">Default body</slot>
            </div>

            <div class="pt-6 text-center">
                <slot name="footer"> Default footer </slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    props: ['width'],

    data() {
        return {};
    },

    methods: {
        hide(event) {
            if (event.srcElement.id === "need-close") {
                this.$parent.show = false;
            }
        },
    },
};
</script>
