<template>
    <base-modal v-show="show" :width="width">
        <template slot="header">
            <slot name="header"> Default Header </slot>
        </template>
        <template #body>
            <slot name="body">
                <div>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Iusto ipsum, consequuntur, mollitia in soluta a nisi
                    dignissimos molestias explicabo quod facilis? Nostrum
                    voluptatum molestiae, amet quam aliquid corporis. Esse,
                    nulla?
                </div>
            </slot>
        </template>
        <template #footer>
            <slot name="footer">
                <button type="button" class="button" @click="show = false">
                    Ok
                </button>
            </slot>
        </template>
    </base-modal>
</template>

<script>
import BaseModal from "./BaseModal";

export default {
    components: { BaseModal },

    props: {
        width: {
            type: String,
            default: "md:w-1/2"
        },
        name: {
            type: String,
        },
        showNow: {
            type: Boolean,
        },
    },

    //props: ["name", "showNow", "width"],

    data: function () {
        return {
            show: false,
        };
    },

    mounted() {
        this.show = this.showNow;
    },
};
</script>
