<template>
    <div>
        <app-header />
        <page-content>
            <page-title> Информация о счете </page-title>
            <div class="p-4">
                <div class="text-center font-bold text-xl">
                    Операции по счёту
                </div>
                <account-operations> </account-operations>
                <div class="text-center font-bold text-xl pt-4">
                    Операции по проектам
                </div>
                <collapsed-row
                    v-for="project in projectsData.projects"
                    :key="project.id"
                    class="py-2"
                >
                    <template #header>
                        {{ getHeaderCarLine(project.car) }}
                        <span
                            class="text-red-700"
                            :class="{ 'text-green-700': project.profit > 0 }"
                        >
                            Результат: {{ project.profit }} руб.</span
                        >
                    </template>
                    <template #body>
                        <project-operations
                            :project="project"
                        ></project-operations>
                    </template>
                </collapsed-row>
            </div>
        </page-content>
        <app-footer />
    </div>
</template>

<script>
import projectsMixin from "../Mixins/ProjectsMixin.js";
import carsMixin from "../Mixins/CarsMixin";
import collapsedRow from "../Components/CollapsedRow";
import accountOperations from "../Components/Account/AccountOperations";
import projectOperations from "../Components/Account/ProjectOperations";

export default {
    components: {
        collapsedRow,
        accountOperations,
        projectOperations,
    },

    mixins: [projectsMixin, carsMixin],

    data: function () {
        return {};
    },

    watch: {},

    created: async function () {
        if (!this.loginInvestorByToken()) return;
        await this.getAllProjects();
        await this.projectsData.projects.forEach(async (project) => {
            this.$set(project, "car", await this.getCar(project.car_id));
            this.$set(project, "profit", this.calcProfit(project));
        });
    },

    methods: {
        safeGet(object) {
            return object || {};
        },

        calcProfit(project) {
            let profit = -project.buy_price;

            if (!project.orders || project.orders.length < 1) return profit;
            const red = project.orders.reduce(
                (total, order) =>
                    order.type === "Продажа"
                        ? total + order.price
                        : total - order.price,
                0
            );
            return profit + red;
        },

        getHeaderCarLine(car) {
            if (!car) return "";
            return `${car.model}, ${car.color}, ${car.year} г.`;
        },

        getHeaderProfitLine(car) {
            if (!car) return "";
            return `${car.model}, ${car.color}, ${car.year} г.`;
        },
    },
};
</script>

<style>
</style>
