<template>
    <div>
        <app-header />
        <page-content>
            <page-title> Добро пожаловать, {{ getInvestor.name }} </page-title>
            <div class="min-h-full">
                <div class="px-8 pt-8">
                    <input
                        type="checkbox"
                        name="only-finished"
                        class="p-2 border rounded"
                        id="project-types"
                        v-model="getOnlyFinishedProjects"
                    />
                    <label class="font-bold pr-2" for="project-types"
                        >Только завершенные проекты</label
                    >
                </div>
                <div class="md:flex flex-wrap">
                    <project-card
                        v-for="project in projects"
                        :key="project.id"
                        :project="project"
                    ></project-card>
                </div>
            </div>
        </page-content>
        <app-footer />
    </div>
</template>

<script>
import ProjectCard from "../Components/Projects/ProjectCard.vue";

import projectsMixin from "../Mixins/ProjectsMixin.js";
import carsMixin from "../Mixins/CarsMixin";

export default {
    components: { ProjectCard },

    mixins: [projectsMixin, carsMixin],

    data: function () {
        return {
            projects: {},
            finishedProjects: {},
            getOnlyFinishedProjects: false,
        };
    },

    watch: {
        getOnlyFinishedProjects: function () {
            if (this.getOnlyFinishedProjects) {
                this.projects = this.finishedProjects;
            } else {
                this.projects = this.projectsData.projects;
            }
        },
    },

    created: async function () {
        if (!this.loginInvestorByToken()) return;
        await this.getAllProjects();
        this.projectsData.projects.forEach(async (project) => {
            this.$set(
                project,
                "buyer",
                await this.$store.dispatch("usersApi/getUser", project.buyer_id)
            );
        });
        this.projectsData.projects.forEach(async (project) => {
            const car = await this.getCar(project.car_id);
            car.creator = await this.$store.dispatch(
                "usersApi/getUser",
                car.created_user_id
            );
            this.$set(project, "car", car);
        });
        this.projectsData.projects.forEach(async (project) => {
            return (project.seller =
                project.seller_id > 0
                    ? this.$set(
                          project,
                          "seller",
                          await this.$store.dispatch(
                              "usersApi/getUser",
                              project.seller_id
                          )
                      )
                    : null);
        });
        this.projects = this.projectsData.projects;
        this.finishedProjects = this.projectsData.projects.filter(
            (value) => value.seller_id != null
        );
    },
};
</script>

<style>
</style>
