<template>
    <div class="flex justify-center items-center min-h-screen text-sm">
        <div
            class="border rounded md:w-1/2 w-full mx-4 px-4 bg-white shadow-md"
        >
            <div class="flex my-4 w-full">
                <label class="m-auto w-1/4" for="email">Почта:</label>
                <input
                    class="p-2 w-3/4 border rounded"
                    id="email"
                    type="text"
                    placeholder="Введите почту"
                    v-model="loginEmail"
                />
            </div>
            <div class="flex my-4 w-full relative">
                <label class="m-auto w-1/4" for="password">Пароль:</label>
                <input
                    class="p-2 w-3/4 border rounded"
                    id="password"
                    type="password"
                    placeholder="Введите пароль"
                    v-model="loginPassword"
                />
            </div>
            <div
                v-show="errorMessage"
                class="text-xs text-center text-red-500 absolute -my-3"
            >
                {{ errorMessage }}
            </div>
            <button
                @click="login"
                type="button"
                class="button mx-auto mb-4 text-center block mt-8"
            >
                Войти
            </button>
        </div>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            loginEmail: "kimberly.kutch@example.org",
            loginPassword: "1",
            errorMessage: "",
        };
    },

    created: function () {
        //this.login();
    },

    methods: {
        login: async function () {

            const loggedIn = await this.$store.dispatch(
                "loginApi/loginInvestor",
                { email: this.loginEmail, password: this.loginPassword }
            );
            if (loggedIn) {
                window.location = "/investor/";
            } else {
                this.errorMessage = "Invalid email or password";
            }
        },
    },
};
</script>

<style>
</style>
