@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .button {
        @apply bg-gray-800 border outline-none py-0.5 rounded text-white w-24 cursor-pointer
    }

    .button:hover {
        @apply bg-cool-gray-700
    }
}
