<template>
    <div>
        <div
            class="bg-gray-200 border text-center font-bold py-2 cursor-pointer"
            @click="show = !show"
        >
            <slot name="header"> Thihs is Header </slot>
        </div>
        <transition name="dropdown">
            <div class="bg-white border-t-0 px-2" v-show="show">
                <slot name="body"> This is Body </slot>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    data: () => ({
        show: false,
    }),
};
</script>

<style>
.dropdown-enter-active,
.dropdown-leave-active {
    transition: 0.3s;
}

.dropdown-leave-active {
    transition: 0.1s;
}

.dropdown-enter,
.dropdown-leave-to {
    opacity: 0;
}
</style>
