<template>
    <div class="inline-block ">
        <div
            class="underline cursor-pointer"
            @mouseenter="startShowing"
            @mouseleave="stopShowing"
            @click="isShow = true"
        >
            <slot name="trigger"> </slot>
        </div>

        <div
            class="absolute"
            @mouseenter="startShowing"
            @mouseleave="stopShowing"
        >
            <slot v-if="isShow"> </slot>
        </div>
    </div>
</template>
<script>
export default {
    data: function () {
        return {
            isShow: false,
            showDurationTime: 150,
            showTime: 100,
            showTimeout: null,
            hideTimeout: null,
        };
    },

    methods: {
        startShowing() {
            this.showTimeout = setTimeout(
                () => (this.isShow = true),
                this.showTime
            );
            this.hideTimeout ? clearTimeout(this.hideTimeout) : null;
        },

        stopShowing() {
            this.hideTimeout = setTimeout(
                () => (this.isShow = false),
                this.showDurationTime
            );
            this.showTimeout ? clearTimeout(this.showTimeout) : null;
        },
    },
};
</script>
