<template>
    <a v-bind:href="href">
        <div
            class="cursor-pointer hover:bg-gray-600 hover:text-white mb-1 mx-1 px-5 py-1 rounded inline-block"
        >
            {{ text }}
        </div>
    </a>
</template>

<script>
export default {
    props: ["text", "href"],
};
</script>

<style>
</style>
