<template>
    <div
        class="inline-block"
        @mouseenter="stopClosing"
        @mouseleave="startClosing"
    >
        <div
            @click="isOpened = !isOpened"
            class="cursor-pointer hover:bg-gray-600 hover:text-white inline-block mb-1 px-5 py-1 rounded"
        >
            {{ text }}
        </div>
        <div
            v-if="isOpened"
            class="absolute bg-white shadow-lg rounded-md w-48"
        >
            <slot> </slot>
        </div>
    </div>
</template>

<script>
import MenuDropDownListItem from "./MenuDropDownListItem";

export default {
    components: { MenuDropDownListItem },

    props: ["text"],

    data: function () {
        return {
            closeTimeout: null,
            isOpened: false,
            timeBeforeDropDownCloses: 300,
        };
    },

    methods: {
        startClosing: function () {
            this.closeTimeout = setTimeout(
                () => (this.isOpened = false),
                this.timeBeforeDropDownCloses
            );
        },

        stopClosing: function () {
            clearTimeout(this.closeTimeout);
        },
    },
};
</script>

<style>
</style>
