<template>
    <a v-bind:href="href">
        <div
            class="bg-white cursor-pointer hover:bg-gray-600 hover:text-white mx-1 pr-8 px-4 py-2 rounded"
        >
            {{ text }}
        </div>
    </a>
</template>

<script>
export default {
    props: ["text", "href"],
};
</script>

<style>
</style>
