<template>
    <header class="container mx-auto bg-gray-50 border-b border-t">
        <div class="mx-6 mt-6">
            <div class="border-b flex justify-between mb-4 text-sm">
                <div class="font-bold">
                    {{
                        topLine
                    }}
                </div>
                <div
                    v-if="isLoggedIn"
                    class="text-blue-700 underline cursor-pointer"
                >
                    <a @click="logout">Выйти</a>
                </div>
            </div>
            <navbar> </navbar>
        </div>
    </header>
</template>

<script>
import Navbar from "./TheNavbar";

export default {
    components: {
        Navbar,
    },

    data: function () {
        return {};
    },

    computed: {
        topLine: function () {
            if (this.isLoggedIn) {
                return this.getInvestor.name+". "+this.getInvestor.balance + " руб.";
            } else
                return "Гость";

        }
    },

    methods: {
        logout() {
            this.logoutInvestor();
            //location.reload();
        },
    },
};
</script>

<style>
</style>
