<template>
    <div v-if="isLoggedIn">
        <menu-drop-down-list text="Проекты">
            <menu-drop-down-list-item text="Все" href="/investor/" />
        </menu-drop-down-list>
        <menu-drop-down-item text="Счёт" href="/investor/account" />
    </div>
    <div v-else><menu-drop-down-item text="Войти" href="/investor/login" /></div>
</template>

<script>
import MenuDropDownList from "./MenuDropDownList";
import MenuDropDownItem from "./MenuDropDownItem";
import MenuDropDownListItem from "./MenuDropDownListItem";

export default {
    components: { MenuDropDownList, MenuDropDownItem, MenuDropDownListItem },

    data: function () {
        return {};
    },
};
</script>

<style>
</style>
