<template>
    <div class="bg-white">
        <div v-if="isLoggedIn">
            <slot> </slot>
        </div>
        <div
            v-if="!isLoggedIn"
            class="bg-white flex h-80 justify-center mx-auto text-2xl items-center whitespace-pre"
        > Необходимо <a
                href="/investor/login"
                class="underline cursor-pointer text-blue-600"
                >войти</a
            > перед тем как продолжить...</div>
    </div>
</template>
<script>
export default {};
</script>
