<template>
    <div
        class="bg-blue-50 rounded p-3 border border-gray-700 text-sm shadow-md"
    >
        <div
            v-for="(value, prop, index) in showProperties"
            :key="index"
            class="user-row"
        >
            <div class="user-label">{{ value }}:</div>
            <div class="user-info">{{ _car[prop]  }}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["car"],

    data: function () {
        return {
            showProperties: {
                model: "Модель",
                year: "Год выпуска",
                type: "Тип",
                color: "Цвет",
                reg_number: "Регистрационный номер",
                vin: "VIN номер",
                kuzov_number: "Номер кузова",
                rama_number: "Номер шасси",
                power_horses: "Мощность, л.с.",
                power_kvt: "Мощность, кВт",
                mass: "Масса",
            },
        };
    },

    computed: {
        _car: function () {
            return this.car ? this.car : {};
        },
    },
};
</script>
<style>
.user-row {
    @apply flex p-2 border-b border-gray-400;
}

.user-row:last-child {
    @apply border-none;
}

.user-label {
    @apply w-1/3 font-bold m-auto text-gray-700;
}

.user-info {
    @apply w-2/3 text-right pl-2;
}
</style>
