<template>
    <table v-if="hasOrders()">
        <thead class="bg-gray-100">
            <tr class="border">
                <th class="p-2">Добавил</th>
                <th>Описание</th>
                <th>Сроки</th>
                <th class="text-right">Стоимость</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="order in orders" :key="order.id" class="border">
                <td class="p-2">
                    {{ createdUser(order.created_user_id).name }}
                    {{ createdUser(order.created_user_id).surname }}
                </td>
                <td>
                    <div class="font-bold">{{ order.type }}</div>
                    {{ order.description }}
                </td>
                <td class="font-bold">
                    {{ humanDate(order.start_datetime) }}
                    <div v-if="order.type === 'Работа'">{{ humanDate(order.end_datetime) || "В работе" }}</div>
                </td>
                <td class="text-center">
                    {{ order.price }}
                </td>
            </tr>
        </tbody>
    </table>
    <div v-else>Никакие работы по текущей машине не ведутся</div>
</template>
<script>
import * as helper from "../../helper";

export default {
    props: ["orders"],

    data() {
        return {
            createdUserList: [{}],
        };
    },

    async created() {
        this.orders.forEach(async (order) =>
            this.$set(
                this.createdUserList,
                order.created_user_id,
                await this.$store.dispatch(
                    "usersApi/getUser",
                    order.created_user_id
                )
            )
        );
    },

    methods: {
        createdUser(id) {
            return this.createdUserList[id] ? this.createdUserList[id] : {};
        },

        hasOrders() {
            return Object.keys(this.orders).length > 0;
        },

        humanDate: (datetime) => helper.getHumanDate(datetime),
    },
};
</script>

<style>
th {
    @apply p-2;
}

tr td {
    @apply p-2;
}
</style>
