<template>
    <div class="w-full md:w-1/2 p-2 md:p-8">
        <div class="border rounded">
            <div class="text-gray-500 py-4 border-b px-4 flex bg-gray-50">
                <div class="w-1/4">Автомобиль</div>
                <span class="text-black pl-4 w-3/4">
                    <hint>
                        <template #trigger> {{ getCarTopLine }} </template>
                        <car-details :car="car"></car-details>
                    </hint>
                </span>
            </div>
            <div class="text-gray-500 pt-4 px-4 flex">
                <div class="w-1/4 my-auto">Добавил</div>
                <span class="text-black pl-4 w-3/4">
                    <hint>
                        <template #trigger> {{ creator.name }} </template>
                        <user-details :user="creator"></user-details>
                    </hint>
                </span>
            </div>
            <div class="text-gray-500 pb-4 pt-2 border-b px-4 flex">
                <div class="w-1/4 my-auto px-7">Цена</div>
                <span class="text-black pl-4 w-3/4 font-semibold"
                    >{{ project.buy_price }} руб.
                </span>
            </div>
            <div class="text-gray-500 pt-4 px-4 flex">
                <div class="w-1/4 my-auto">Купил</div>
                <span class="text-black pl-4 w-3/4">
                    <hint>
                        <template #trigger> {{ buyer.name }} </template>
                        <user-details :user="buyer"></user-details>
                    </hint>
                    {{ project.buy_datetime }}
                </span>
            </div>
            <div class="text-gray-500 pb-4 pt-2 border-b px-4 flex">
                <div class="w-1/4 my-auto px-7">Цена</div>
                <span class="text-black pl-4 w-3/4 font-semibold">
                    {{ project.buy_price }} руб.
                </span>
            </div>
            <div class="text-gray-500 pt-4 px-4 flex">
                <div class="w-1/4 my-auto">Продал</div>
                <span class="text-black pl-4 w-3/4">
                    <hint>
                        <template #trigger> {{ seller.name }} </template>
                        <user-details :user="seller"></user-details>
                    </hint>
                    {{ project.sell_datetime }}
                </span>
            </div>
            <div class="text-gray-500 pb-4 pt-2 border-b px-4 flex">
                <div class="w-1/4 my-auto px-7">Цена</div>
                <span class="text-black pl-4 w-3/4 font-semibold">
                    {{ project.sell_price }} руб.
                </span>
            </div>
            <div class="text-gray-500 pb-4 pt-4 border-b px-4 flex">
                <div class="w-1/4 my-auto">Описание</div>
                <hint>
                    <template #trigger>
                        <span class="text-black pl-4 w-3/4">
                            {{
                                project.description
                                    ? project.description.slice(0, 25) + "..."
                                    : ""
                            }}
                        </span>
                    </template>
                    <div class="bg-blue-100 p-4 border shadow-md">
                        {{ project.description }}
                    </div>
                </hint>
            </div>
            <div class="flex justify-center p- underline font-semibold">
                <div
                    class="cursor-pointer w-1/2 p-4 text-center hover:bg-gray-50"
                    @click="showOrders()"
                >
                    Работы...
                </div>
            </div>
        </div>
        <modal-box name="ordersModal" :width="'w-full md:w-1/2'">
            <template #header> Работы по текущему проекту </template>
            <template #body>
                <orders-list :orders="project.orders"></orders-list>
            </template>
        </modal-box>
    </div>
</template>

<script>
import Hint from "../Hint";
import UserDetails from "./UserDetails";
import CarDetails from "./CarDetails";
import ModalBox from "../Modal/ModalBox.vue";
import OrdersList from "./OrdersList.vue";

export default {
    components: { Hint, UserDetails, CarDetails, ModalBox, OrdersList },

    props: ["project"],

    data: function () {
        return {
            ordersModal: {},
        };
    },

    computed: {
        getCarTopLine() {
            return this.project.car
                ? `${this.project.car.model} ${this.project.car.year} г., ${this.project.car.color}`
                : "getting data";
        },

        car() {
            return this.project.car ? this.project.car : {};
        },

        buyer() {
            return this.project.buyer ? this.project.buyer : {};
        },

        seller() {
            return this.project.seller ? this.project.seller : {};
        },

        creator() {
            if (this.project.car && this.project.car.creator) {
                return this.project.car.creator;
            }
            return {};
        },
    },

    mounted() {
        this.ordersModal = this.$children.find(
            (value) => value.name === "ordersModal"
        );
    },

    methods: {
        showOrders() {
            this.ordersModal.show = true;
        },
    },
};
</script>
