<template>
    <div
        class="bg-blue-50 rounded p-3 border border-gray-700 text-sm shadow-md"
    >
        <div class="user-row">
            <div class="user-label">Имя:</div>
            <div class="user-info">{{ _user.name }}</div>
        </div>
        <div class="user-row">
            <div class="user-label">Фамилия:</div>
            <div class="user-info">{{ _user.surname }}</div>
        </div>
        <div class="user-row">
            <div class="user-label">Должность:</div>
            <div class="user-info">{{ _user.position }} ({{ _user.role }})</div>
        </div>
        <div class="user-row">
            <div class="user-label">Почта:</div>
            <div class="user-info">{{ _user.email }}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["user"],

    computed: {
        _user: function () {
            return this.user ? this.user : {};
        },
    },
};
</script>
<style>
.user-row {
    @apply flex p-2 border-b border-gray-400;
}

.user-row:last-child {
    @apply border-none;
}

.user-label {
    @apply w-1/3 font-bold m-auto text-gray-700;
}

.user-info {
    @apply w-2/3 text-right pl-2;
}
</style>
