<template>
    <table class="w-full">
        <thead class="bg-gray-100">
            <tr class="border">
                <th class="p-2">Операция</th>
                <th>Дата</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            <tr
                v-for="operation in accountOperations"
                :key="operation.id"
                class="border bg-red-100"
                :class="{ 'bg-green-100': isDeposit(operation.amount) }"
            >
                <td class="p-2">{{ operation.operation_name }}</td>
                <td>{{ humanDate(operation.timestamp) }}</td>
                <td class="font-bold text-center">
                    {{ formatDeposit(operation.amount) }}
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import accountOperationsMixin from "../../Mixins/AccountOperationsMixin";
import * as helper from "../../helper";

export default {
    mixins: [accountOperationsMixin],

    methods: {
        humanDate: (datetime) => helper.getHumanDateTime(datetime),

        isDeposit: (amount) => (amount ? amount > 0 : false),

        formatDeposit(amount) {
            return this.isDeposit(amount) ? "+" + amount : amount;
        },
    },
};
</script>
