<template>
    <table class="w-full shadow">
        <thead class="bg-gray-100">
            <tr class="border border-t-0">
                <th class="p-2">Операция</th>
                <th>Дата</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border bg-red-100">
                <td class="p-2 font-bold">
                    Покупка автомобиля
                </td>
                <td>{{ humanDate(project.buy_datetime) }}</td>
                <td class="font-bold text-center">
                    -{{ project.buy_price }}
                </td>
            </tr>
            <tr
                v-for="order in project.orders"
                :key="order.id"
                class="border bg-red-100"
                :class="{ 'bg-green-100': isSell(order) }"
            >
                <td class="p-2">
                    <div class="font-bold">{{ order.type }}</div>
                    {{ order.description }}
                </td>
                <td>{{ humanDate(order.start_datetime) }}</td>
                <td class="font-bold text-center">
                    {{ formatPrice(order) }}
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import * as helper from "../../helper";

export default {
    props: ["project"],

    methods: {
        humanDate: (datetime) => helper.getHumanDate(datetime),

        isSell: (order) => order.type === "Продажа",

        formatPrice(order) {
            return this.isSell(order) ? "+" + order.price : "-" + order.price;
        },

        calcBalance() {

        }
    },
};
</script>
